.MT-button-root {
  height: max-content;
}

.MT-button {
  position: relative;

  --MT-button-bg: var(--MT-bg0);
  --MT-button-fg: var(--MT-fg0);
  --MT-button-shd: var(--MT-shd);
  --MT-button-bg-active: rgba(var(--MT-button-fg), 0.2);

  height: 2.375rem;
  padding: 0.25rem 0.25rem 0.375rem 0.25rem;
  margin-bottom: 0.125rem;

  border-radius: 0.625rem;
  border-top: 0.125rem solid rgb(var(--MT-button-fg));
  border-right: 0.125rem solid rgb(var(--MT-button-fg));
  border-bottom: 0.375rem solid rgb(var(--MT-button-fg));
  border-left: 0.125rem solid rgb(var(--MT-button-fg));

  color: rgb(var(--MT-button-fg));
  font-weight: bold;

  background-color: rgb(var(--MT-button-bg));
  box-shadow: 0 0.3125rem 0 0 rgba(var(--MT-button-shd), 0.2);

  transition: background-color 0.1s;

  &:hover {
    height: 2.25rem;
    margin-top: 0.125rem;
    border-bottom: 0.25rem solid rgb(var(--MT-button-fg));
    box-shadow: 0 0.1875rem 0 0 rgba(var(--MT-button-shd), 0.2);

    cursor: pointer;

    &:active {
      background-color: var(--MT-button-bg-active);
    }
  }

  &.MT-color-red {
    --MT-button-fg: var(--MT-red0);
  }

  &.MT-color-yellow {
    --MT-button-fg: var(--MT-yellow0);
  }

  &.MT-color-green {
    --MT-button-fg: var(--MT-green0);
  }

  &.MT-color-blue {
    --MT-button-fg: var(--MT-blue0);
  }

  &.MT-accent {
    --MT-button-bg: var(--MT-fg1);
    color: rgb(var(--MT-txt-inv));

    --MT-button-bg-active: rgba(var(--MT-button-bg), 0.8);

    &.MT-color-red {
      --MT-button-bg: var(--MT-red1);
    }

    &.MT-color-yellow {
      --MT-button-bg: var(--MT-yellow1);
      color: rgb(var(--MT-fg0));
    }

    &.MT-color-green {
      --MT-button-bg: var(--MT-green1);
    }

    &.MT-color-blue {
      --MT-button-bg: var(--MT-blue1);
    }
  }
}
