@import url("https://fonts.googleapis.com/css2?family=Gothic+A1&display=swap");

* {
  font-family: "Gothic A1", sans-serif;
}

.layout {
  max-width: 600px;
  margin: 0 auto;
  /* background: var(--blue-theme-background, #ebedf0); */
  overflow: visible;
}
