@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap");

* {
  font-family: "Noto Sans KR", sans-serif;
}

#Layout {
  max-width: 600px;
  margin: 0 auto;
  /* background: var(--blue-theme-background, #ebedf0); */
  overflow: visible;
}

#Buttons {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
}

#Inputs {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 0.5rem;
}
